/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads/bo_accounts/*
/public/uploads/bo_cdbl_approval_file/*
/public/uploads/vedas/*
!/public/uploads/bo_accounts/index.html
!/public/uploads/bo_cdbl_approval_file/index.html
!/public/uploads/vedas/index.html
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/logs
