
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Bangla:ital@0;1&display=swap');
html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
  }
body {
    background: #F8F9FD;
    width: 100%;
    height: 100%;
    /* color: #ffffff; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
	font-size: 14px;
    line-height: 16px;
}
*, ::after, ::before {
    box-sizing: border-box;
   }
       * {
   margin: 0;
   padding: 0;
}
h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
}
p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
a:focus, a {
   outline: none;
   text-decoration: none;
   color: #ffffff;
   cursor: pointer;
}
.invoice-container {
   max-width: 880px;
   margin: 0 auto;
   /* padding: 30px 15px; */
}
.invoice-main-container{
   padding: 50px 50px 30px;
}
.invoice-content-wrap {
   background: #fff;
   position: relative;
   height: auto;
   width: 100%;
   padding: 30px 30px 30px;  
   overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-weight: 500;
    font-size: 18px
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.font-size10{font-size: 10px;}
.font-size11{font-size: 11px;}
.font-size12{font-size: 12px;}
.font-size13{font-size: 13px;}
.font-size14{font-size: 14px;}
.font-size15{font-size: 14px;}

ul, li{
    list-style-type: none;
}
.font-bold{font-weight: bold;}
.bg-black{background-color: #000;}
.bg-black-6{    background-color: rgb(0 0 0 / 6%) !important;}

.bg-wite{background-color: #fff;}
.color-white{color:#fff;}

.display-inline-block{display: inline-block;}

.display-inline-flex{ display: inline-flex;}

.display-flex{display: flex;}

.float-left{float: left;}
.float-right{float: right;}

.width5{width: 5%;}
.width10{width: 10%;}
.width15{width: 15%;}
.width20{width: 20%;}
.width25{width: 25% !important;}
.width30{width: 30% !important;}
.width33{width: 33% !important;}
.width35{width: 35% !important;}
.width40{width: 40%;}
.width45{width: 45%;}
.width50{width: 50%;}
.width55{width: 55%;}
.width60{width: 60%;}
.width65{width: 65%;}
.width70{width: 70%;}
.width75{width: 75%;}
.width80{width: 80%;}
.width85{width: 85%;}
.width90{width: 90%;}
.width95{width: 95%;}
.width100{width: 100%;}

.width-15{width: 15px !important;}
.width-25{width: 25px !important;}
.width-30{width: 30px !important;}
.width-35{width: 35px !important;}
.width-40{width: 40px !important;}
.width-60{width: 60px !important;}
.width-70{width: 70px !important;}
.width-80{width: 80px !important;}
.width-90{width: 90px !important;}
.width-100{width: 100px !important;}
.width-110{width: 110px !important;}
.width-120{width: 120px !important;}


.height-15{height: 15px !important;}
.height-25{height: 25px !important;}
.height-30{height: 30px !important;}
.height-35{height: 35px !important;}
.height-40{height: 40px !important;}
.height-60{height: 60px !important;}
.height-70{height: 70px !important;}
.height-80{height: 80px !important;}
.height-90{height: 90px !important;}
.height-100{height: 100px !important;}
.height-110{height: 110px !important;}
.height-120{height: 120px !important;}

.liwidth-25 li {width: 15px !important;}

.border{border:1px solid #000 !important;}
.no-border{border:none !important}
.border-no-bottom{border-bottom: none !important;}
.vertical-align-bottom{vertical-align: bottom;}

table td {
    width: 1px;
    white-space: nowrap;
}

table{
	width: 93%!important;
	table-layout:auto;
    font-size:12px;
}
table td {

	/* width:1px; */
	white-space:nowrap;
}


table {
	border-collapse: collapse;
  width: 100%;
}
.table-border, .table-border td, .table-border th {
  border: 1px solid black;

}

table tr th, b{
    font-weight: 600;
}
.table-no-border{
    border:none;
}
.border-left{border-left: 1px solid #000;}
ul {
    list-style: none;
  
  }
.text-left {
    text-align: left !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.height16 li{
    height: 16px !important;
}
.vertical-align-top{
    vertical-align: top;
}

.border-bottom-dotted{
    border-bottom: 1px dotted;
}
.letter-spacing8{letter-spacing: 8px}

/* print.css */
@media screen {

    body {
      /* margin: 2em; */
      /* color: #fff; */
      background-color: #000;
    }
  
  }

  @media print {

    body {
      margin: 0;
      color: #000;
      background-color: #fff;
    }
  
  }
  @media print {
    .div {
        clear: both;
        page-break-after: always;
    }
}
  ul{
    list-style-type: lower-latin;
  }
  li.list-style-roman{
    list-style-type: upper-roman;
  }
  li.list-style-alpha{
    list-style-type: lower-alpha;
  }
  li.list-style-roman{
    position: relative;
    left: 12px;;
  }
  li.list-style-roman,  
   li.list-style-alpha {
        counter-increment: foo;
        display: list-item;
        margin-left: 15px;
        padding-left: 10px;
    }

    /* li.list-left::before {
        content: counter(foo) "";
        display: table-cell;
        text-align: left;
        padding-right: 9px;
    } */

.box-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-left-hidden{
    border-left-style: hidden !important;
}
.border-top-hidden{
    border-top-style: hidden !important;
}
.border-right-hidden{
    border-right-style: hidden !important;
}
.border-bottom-hidden{
    border-bottom-style: hidden !important;
}

.color-blue{color:#4ba6ef}
.bg-blue{background-color:#4ba6ef}

.bangla-font{
    /* font-family: "Tiro Bangla", serif; */
    /* font-weight: 400; */
}

/*  --------------------------------------------------------
PADDING STYLE
-------------------------------------------------------- */
.p0 {
    padding: 0;
}

.p2 {
    padding: 2px;
}
.p3 {
    padding: 3px;
}
.p5 {
    padding: 5px;
}
.p8 {
    padding: 8px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p25 {
    padding: 25px;
}

.p30 {
    padding: 30px;
}

.p35 {
    padding: 35px;
}

.p40 {
    padding: 40px;
}

.p45 {
    padding: 45px;
}

.p50 {
    padding: 50px;
}

.p55 {
    padding: 55px;
}

.p60 {
    padding: 60px;
}

.p65 {
    padding: 65px;
}

.p70 {
    padding: 70px;
}

.p75 {
    padding: 75px;
}

.p80 {
    padding: 80px;
}

.p85 {
    padding: 85px;
}

.p90 {
    padding: 90px;
}

.p95 {
    padding: 95px;
}

.p100 {
    padding: 100px;
}

.pt0 {
    padding-top: 0px;
}
.pt2 {
    padding-top: 2px;
}
.pt3 {
    padding-top: 3px;
}

.pt5 {
    padding-top: 5px;
}
.pt6 {
    padding-top: 6px;
}
.pt7 {
    padding-top: 7px;
}
.pt8 {
    padding-top: 8px;
}
.pt9 {
    padding-top: 9px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pt55 {
    padding-top: 55px;
}

.pt60 {
    padding-top: 60px;
}

.pt65 {
    padding-top: 65px;
}

.pt70 {
    padding-top: 70px;
}

.pt75 {
    padding-top: 75px;
}

.pt80 {
    padding-top: 80px;
}

.pt85 {
    padding-top: 85px;
}

.pt90 {
    padding-top: 90px;
}

.pt95 {
    padding-top: 95px;
}

.pt100 {
    padding-top: 100px;
}

.pr0 {
    padding-right: 0px;
}

.pr5 {
    padding-right: 5px;
}
.pr7 {
    padding-right: 7px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr35 {
    padding-right: 35px;
}

.pr40 {
    padding-right: 40px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

.pr55 {
    padding-right: 55px;
}

.pr60 {
    padding-right: 60px;
}

.pr65 {
    padding-right: 65px;
}

.pr70 {
    padding-right: 70px;
}

.pr75 {
    padding-right: 75px;
}

.pr80 {
    padding-right: 80px;
}

.pr85 {
    padding-right: 85px;
}

.pr90 {
    padding-right: 90px;
}

.pr95 {
    padding-right: 95px;
}

.pr100 {
    padding-right: 100px;
}

.pb0 {
    padding-bottom: 0px;
}

.pb3 {
    padding-bottom: 3px;
}
.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb55 {
    padding-bottom: 55px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb65 {
    padding-bottom: 65px;
}

.pb70 {
    padding-bottom: 70px;
}

.pb75 {
    padding-bottom: 75px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb85 {
    padding-bottom: 85px;
}

.pb90 {
    padding-bottom: 90px;
}

.pb95 {
    padding-bottom: 95px;
}

.pb100 {
    padding-bottom: 100px;
}
.pt170{
    padding-top: 170px;
}

.pl0 {
    padding-left: 0px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl35 {
    padding-left: 35px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}

.pl55 {
    padding-left: 55px;
}

.pl60 {
    padding-left: 60px;
}

.pl65 {
    padding-left: 65px;
}

.pl70 {
    padding-left: 70px;
}

.pl75 {
    padding-left: 75px;
}

.pl80 {
    padding-left: 80px;
}

.pl85 {
    padding-left: 85px;
}

.pl90 {
    padding-left: 90px;
}

.pl95 {
    padding-left: 95px;
}

.pl100 {
    padding-left: 100px;
}

/*  --------------------------------------------------------
MARGIN STYLE
-------------------------------------------------------- */
.m0 {
    margin: 0;
}

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.m25 {
    margin: 25px;
}

.m30 {
    margin: 30px;
}

.m35 {
    margin: 35px;
}

.m40 {
    margin: 40px;
}

.m45 {
    margin: 45px;
}

.m50 {
    margin: 50px;
}

.m55 {
    margin: 55px;
}

.m60 {
    margin: 60px;
}

.m65 {
    margin: 65px;
}

.m70 {
    margin: 70px;
}

.m75 {
    margin: 75px;
}

.m80 {
    margin: 80px;
}

.m85 {
    margin: 85px;
}

.m90 {
    margin: 90px;
}

.m95 {
    margin: 95px;
}

.m100 {
    margin: 100px;
}

.mt0 {
    margin-top: 0px;
}
.mt2 {
    margin-top: 2px;
}
.mt3 {
    margin-top: 3px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt55 {
    margin-top: 55px;
}

.mt60 {
    margin-top: 60px;
}

.mt65 {
    margin-top: 65px;
}

.mt70 {
    margin-top: 70px;
}

.mt75 {
    margin-top: 75px;
}

.mt80 {
    margin-top: 80px;
}

.mt85 {
    margin-top: 85px;
}

.mt90 {
    margin-top: 90px;
}

.mt95 {
    margin-top: 95px;
}

.mt100 {
    margin-top: 100px;
}

.mt110 {
    margin-top: 110px;
}

.mt120 {
    margin-top: 120px;
}

.mt200 {
    margin-top: 200px;
}

.mt150 {
    margin-top: 150px;
}

.mr0 {
    margin-right: 0px;
}

.mr5 {
    margin-right: 5px;
}
.mr7 {
    margin-right: 7px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.mr55 {
    margin-right: 55px;
}

.mr60 {
    margin-right: 60px;
}

.mr65 {
    margin-right: 65px;
}

.mr70 {
    margin-right: 70px;
}

.mr75 {
    margin-right: 75px;
}

.mr80 {
    margin-right: 80px;
}

.mr85 {
    margin-right: 85px;
}

.mr90 {
    margin-right: 90px;
}

.mr95 {
    margin-right: 95px;
}

.mr100 {
    margin-right: 100px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb55 {
    margin-bottom: 55px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb65 {
    margin-bottom: 65px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb75 {
    margin-bottom: 75px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb85 {
    margin-bottom: 85px;
}

.mb90 {
    margin-bottom: 90px;
}

.mb95 {
    margin-bottom: 95px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb110 {
    margin-bottom: 110px;
}

.mb120 {
    margin-bottom: 120px;
}

.ml0 {
    margin-left: 0px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml55 {
    margin-left: 55px;
}

.ml60 {
    margin-left: 60px;
}

.ml65 {
    margin-left: 65px;
}

.ml70 {
    margin-left: 70px;
}

.ml75 {
    margin-left: 75px;
}

.ml80 {
    margin-left: 80px;
}

.ml85 {
    margin-left: 85px;
}

.ml90 {
    margin-left: 90px;
}

.ml95 {
    margin-left: 95px;
}

.ml100 {
    margin-left: 100px;
}

/*  --------------------------------------------------------
MARGIN STYLE MINUS
-------------------------------------------------------- */
.mt-5 {
    margin-top: -5px;
}

.mt-10 {
    margin-top: -10px;
}

.mt-15 {
    margin-top: -15px;
}

.mt-20 {
    margin-top: -20px;
}

.mt-25 {
    margin-top: -25px;
}

.mt-30 {
    margin-top: -30px;
}

.mt-35 {
    margin-top: -35px;
}

.mt-40 {
    margin-top: -40px;
}

.mt-45 {
    margin-top: -45px;
}

.mt-50 {
    margin-top: -50px;
}

.mt-55 {
    margin-top: -55px;
}

.mt-60 {
    margin-top: -60px;
}

.mt-65 {
    margin-top: -65px;
}

.mt-70 {
    margin-top: -70px;
}

.mt-75 {
    margin-top: -75px;
}

.mt-80 {
    margin-top: -80px;
}

.mt-85 {
    margin-top: -85px;
}

.mt-90 {
    margin-top: -90px;
}

.mt-95 {
    margin-top: -95px;
}

.mt-100 {
    margin-top: -100px;
}

.mt-110 {
    margin-top: -110px;
}

.mt-120 {
    margin-top: -120px;
}

.mt-130 {
    margin-top: -130px;
}

.mt-140 {
    margin-top: -140px;
}

.mt-150 {
    margin-top: -150px;
}

.ml-5 {
    margin-left: -5px;
}

.ml-10 {
    margin-left: -10px;
}

.ml-15 {
    margin-left: -15px;
}

.ml-20 {
    margin-left: -20px;
}

.ml-25 {
    margin-left: -25px;
}

.ml-30 {
    margin-left: -30px;
}

.ml-35 {
    margin-left: -35px;
}

.ml-40 {
    margin-left: -40px;
}

.ml-45 {
    margin-left: -45px;
}

.ml-50 {
    margin-left: -50px;
}

.ml-55 {
    margin-left: -55px;
}

.ml-60 {
    margin-left: -60px;
}

.ml-65 {
    margin-left: -65px;
}

.ml-70 {
    margin-left: -70px;
}

.ml-75 {
    margin-left: -75px;
}

.ml-80 {
    margin-left: -80px;
}

.ml-85 {
    margin-left: -85px;
}

.ml-90 {
    margin-left: -90px;
}

.ml-95 {
    margin-left: -95px;
}

.ml-100 {
    margin-left: -100px;
}

.ml-110 {
    margin-left: -110px;
}

.ml-120 {
    margin-left: -120px;
}

.ml-130 {
    margin-left: -130px;
}

.ml-140 {
    margin-left: -140px;
}

.ml-150 {
    margin-left: -150px;
}

.mb-5 {
    margin-bottom: -5px;
}

.mb-10 {
    margin-bottom: -10px;
}

.mb-15 {
    margin-bottom: -15px;
}

.mb-20 {
    margin-bottom: -20px;
}

.mb-25 {
    margin-bottom: -25px;
}

.mb-30 {
    margin-bottom: -30px;
}

.mb-35 {
    margin-bottom: -35px;
}

.mb-40 {
    margin-bottom: -40px;
}

.mb-45 {
    margin-bottom: -45px;
}

.mb-50 {
    margin-bottom: -50px;
}

.mb-55 {
    margin-bottom: -55px;
}

.mb-60 {
    margin-bottom: -60px;
}

.mb-65 {
    margin-bottom: -65px;
}

.mb-70 {
    margin-bottom: -70px;
}

.mb-75 {
    margin-bottom: -75px;
}

.mb-80 {
    margin-bottom: -80px;
}

.mb-85 {
    margin-bottom: -85px;
}

.mb-90 {
    margin-bottom: -90px;
}

.mb-95 {
    margin-bottom: -95px;
}

.mb-100 {
    margin-bottom: -100px;
}

.mb-110 {
    margin-bottom: -110px;
}

.mb-120 {
    margin-bottom: -120px;
}

.mb-130 {
    margin-bottom: -130px;
}

.mb-140 {
    margin-bottom: -140px;
}

.mb-150 {
    margin-bottom: -150px;
}

.rect-box-list{
    display: grid;
    justify-content: flex-start;
    margin-top:-11px;
    text-align: center;
}

.rect-box-list div,
.rect-box-list li{
  float: left;
  /* border: 1px solid #000; */
  height: 18px;
  line-height: 14px;
  /* border-right: none; */
  width: 18px;
  line-height: 16px;
}
.rect-box-list.custom-rect-box-list li{
    height: 14px !important;
    width: 10px !important;   
}
.rect-box-list li:last-child{
    /* border-right: 1px solid #000; */
  }
  .border-right{
    /* border-right: 1px solid #000 !important; */
  }

.doc-content-wrap {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
}
.content-wrap-left{
 text-align: left;
}
.page-break {
    page-break-after: always;
}
.margin-minus-11{margin: -11px auto;}







p{
    font-size: 12px;
}
b{
    font-weight: 500;
}
.table-content2  tr{
    border: none;
    text-align: center;
}
.table-content2  td{
    line-height: 15px;
    white-space: nowrap;
    width: 15px;
}
/* .table-content2  td:nth-child(1),
.table-content2  td:nth-child(21){
   border: none;
   
} */
.table-form .text-left {
    text-align: left;
}
.table-form  td {
    text-align: center;
}